.App {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background: white;
  color: 000;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px 30px;
}

.App > div {
  padding: 20px 0;
}

*, div, p, span {
  box-sizing: border-box;
}
